* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Figtree", sans-serif;
}

.body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  width: 90%;
  max-width: 360px;
  border-radius: 12px;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 8px 8px hsl(0, 0%, 7%);
}

.image {
  width: 100%;
}

.learning {
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.published {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.heading {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  font-size: 14px;
  color: hsl(0, 0%, 50%);
  margin-top: 10px;
  margin-bottom: 10px;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-image {
  width: 30px;
  height: 30px;
}

.user-name {
  font-size: 14px;
  font-weight: 700;
}

.attribution {
  margin-top: 30px;
  font-size: 12px;
}

a {
  color: hsl(0, 0%, 7%);
}

@media screen and (min-width: 1000px) {
  a {
    color: hsl(0, 0%, 7%);
  }
}
